@charset "UTF-8";
/* 
TUDO QUE EM HTML É id =  em CSS é #
TUDO QUE EM HTML É class = em CSS é . 
*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1#principal{
    color: white;
    background-color: #3c805e;;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
h2{
    color:#3c805e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.basico{
    color:#3c805e;
    
}
.intermediario{
    color: #71781b;
}
.avançado{
    color: red;
}
.destaque{
    background-color: #8da44188;
}
p{
    text-align: justify;
    text-indent: 10px;
    padding-bottom: 20px;
}